<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Document</title>
</head>

<body>
    <div class="main-chi-tiet p">
        <h2>Trang chủ > Phim > Space Jam: A New Legacy</h2>
        <div class="chi-tiet-phim">
            <div class="grid grid-cols-2 gap-2">
                <div class="border">A</div>
                <div class="border">A</div>
            </div>
        </div>
    </div>
</body>

</html>
